@{
    ViewBag.Title = "数据项配置";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title</title>
    <link href="~/Content/layui2.0/css/layui.css" rel="stylesheet" />
    <link href="~/Content/framework/css/console.css" rel="stylesheet" />
    <link href="~/Content/framework/css/animate.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <style>
        .close {
            margin-right: 40px;
            height: 20px;
            overflow: hidden;
            line-height: 24px;
        }

        .open {
            margin-right: 40px;
            line-height: 24px;
        }

        .hid {
            visibility: hidden;
        }

        .show {
            visibility: visible;
        }
    </style>
</head>
<body>
    <div class="panel-body">
        <div style="margin-left: 10px; margin-right: 10px">
            <div>
                <p>数据项代码：@ViewBag.SITEM_CODE &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;数据项名称：@ViewBag.SITEM_NAME</p>
                <p>数据项简称：@ViewBag.SITEM_ALIAS</p>

            </div>
        </div>
        <div>
            <br />
        </div>
        <div class="layui-tab layui-tab-brief" lay-filter="itemtab">
            <ul class="layui-tab-title">
                <li class="layui-this">测试</li>
                <li>执行</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item  layui-show">
                    <form class="layui-form " style="margin-left: -10px; margin-right: 10px">
                        @Html.AntiForgeryToken()
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 80px;">时间区间:</label>
                            <div class="layui-input-inline" style="width: 241px">
                                <input class="layui-input" name="test_startTime" placeholder="开始时间yyyy-MM-dd" id="test_start_time" value="@ViewBag.TestStart">
                            </div>
                            <div class="layui-input-inline" style="width: 241px">
                                <input class="layui-input" name="test_endTime" placeholder="截止时间yyyy-MM-dd" id="test_end_time" value="@ViewBag.TestEnd">
                            </div>
                        </div>
                        @*<div class="layui-form-item">
                            <label class="layui-form-label" style="width: 80px;">测试方案:</label>
                            <div class="layui-input-block">
                                <input type="radio" name="time_interval" value="3,5,7" title="3、5、7&nbsp" checked />
                                <input type="radio" name="time_interval" value="10,15,20" title="10、15、20&nbsp" />
                            </div>
                        </div>*@
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 80px;">URL:</label>
                            <div class="layui-input-block" style="margin-left: 110px; margin-right: 10px">
                                <input class="layui-input" lay-verify="required" id="Url" name="Url" value="@ViewBag.TestUrl" placeholder="请输入URL" />
                            </div>
                        </div>
                        <div class="layui-form-item" style="text-align: center">
                            <label class="layui-form-label" id="errorMsg" style="padding: 5px, 10px; width: 60px; color: red"></label>
                            <input type="button" lay-submit lay-filter="testdll" class="layui-btn layui-btn-normal layui-btn-small" style="width: 100px; float: right; margin-right: 10px" id="TestBtn" value="测试" />
                        </div>
                        <div class="layui-form-item" style="display: none">
                            <input type="text" id="selectValue" value="" />
                        </div>
                        <div class="layui-form-item">
                            <table id="gridList1" class="layui-table" lay-filter="gridResult">
                                <thead>
                                    <tr></tr>
                                </thead>
                            </table>
                        </div>
                    </form>
                </div>
                <div class="layui-tab-item">
                    <div id="testForm" class="layui-form" style="margin-left: -10px; margin-right: 10px">
                        @Html.AntiForgeryToken()
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 80px;">时间区间:</label>
                            <div class="layui-input-inline" style="width: 241px">
                                <input class="layui-input" name="exe_startTime" placeholder="开始时间yyyy-MM-dd" id="exe_start_time" value="@ViewBag.ExeStart">
                            </div>
                            <div class="layui-input-inline" style="width: 241px">
                                <input class="layui-input" name="exe_endTime" placeholder="截止时间yyyy-MM-dd" id="exe_end_time" value="@ViewBag.ExeEnd">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 80px; height: 10px;">URL:</label>
                            <div class="layui-input-block" style="margin-left: 110px; margin-right: 10px">
                                <input class="layui-input" id="realUrl" lay-verify="required" name="realUrl" value="@ViewBag.ExecuteUrl" placeholder="请输入URL" />
                            </div>
                        </div>
                        <div class="layui-form-item" style="margin-left: 150px;">
                            <label class="layui-form-label" id="exeUser" style="width: 200px;top:-15px">最后执行/清库者：@ViewBag.LastExeUser</label>
                            <label class="layui-form-label" id="exeTime" style="width: 200px;top:-15px">时间：@ViewBag.LastExeTime</label>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block" style="float: right;top:-15px">
                                <input type="button" class="layui-btn layui-btn-normal layui-btn-small" style="width: 80px" data-type="executing" lay-submit lay-filter="execute" id="Execute" value="执行" />
                                <input type="button" class="layui-btn layui-btn-normal layui-btn-small" style="width: 80px" onclick="btn_export()" id="Export" value="导出" />
                                @*<input type="button" class="layui-btn layui-btn-normal layui-btn-small" style="width: 80px" onclick="btn_lock()" id="LockData" value="锁定" />*@
                                <input type="button" class="layui-btn layui-btn-normal layui-btn-small" style="width: 80px" onclick="btn_clear()" id="ClearData" value="清库" />
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 80px;top:-15px">执行进度:</label>
                            <div class="layui-progress" lay-showpercent="true" lay-filter="sdataitem_progres" style="left: 110px;top: 0px; width: 86%">
                                <div class="layui-progress-bar layui-bg-blue" id="sdataitem_progres" lay-percent="0%"></div>
                            </div>
                        </div>
                        <div class="layui-form-item" style="height: 100px">
                            <label class="layui-form-label" style="width: 80px;top:-35px">执行日志:</label>
                            <div class="layui-input-block" style="margin-left: 110px; margin-right: 10px;top:-25px">
                                <textarea class="layui-textarea" id="sdataitem_note" name="sdataitem_note" style="height: 100px"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="display: none">
            <button id="btnSubmit" class="layui-btn" lay-submit lay-filter="OK">提交</button>
        </div>
    </div>
</body>
</html>
<script src="~/Content/jquery/jquery.min.js"></script>
<script src="~/Content/jquery/jquery-1.11.0.min.js"></script>
<script src="~/Content/jquery/jquery.md5.js"></script>
<script src="~/Content/jquery/jquery.cookie.js"></script>
<script src="~/Content/layui2.0/layui.js"></script>
<script src="~/Content/framework/js/global.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
<script src="~/signalr/hubs"></script>
<script type="text/html" id="itemvalue">
    {{# if(d.SD_ITEM_DATA_TYPE=='object'){ }}
    <a class="layui-btn layui-btn-normal layui-btn-mini" lay-event="look">查看</a>
    {{# }else{ }}{{d.SD_ITEM_VALUE }}
    {{# } }}
</script>
<script>
    var paging;
    var primaryKey;
    var table;
    var currentPage;
    layui.use(['table', 'form', 'layer', 'element', 'laydate'], function () {
        var form = layui.form;
        var laydate = layui.laydate;
        var element = layui.element;
        table = layui.table;
        primaryKey = $.getQueryString("primaryKey");
        initData(null);
        table.on('tool(gridResult)', function (obj) {
            var data = obj.data;
            if (obj.event === 'look') {
                look(data);
            }
        });
        $(function () {
            var chat = $.connection.processHub;
            chat.client.addNewMessageToPage = function (name, percent, title, note) {
                var dataitem_client_key = $.cookie("sdataitem_client_key");
                console.log('=====name' + name + '=====sdataitem_client_key:' + dataitem_client_key + '-' + percent);
                if (name == dataitem_client_key) {
                    if (note != "")
                        $("#sdataitem_note")[0].value = note + '\r\n' + $("#sdataitem_note")[0].value;
                    element.progress('sdataitem_progres', percent + '%');
                    if (percent === "100") {
                        setExecuteSta(2);
                        $.formSubmit({
                            url: "/TestCenterSystem/Manage/RereshExeResult?primaryKey=" + primaryKey,
                            showMsg: false,
                            close: false,
                            success: function (data) {
                                if ((data.state === 1)) {
                                    $("#exeUser").get(0).textContent = "最后执行/清库者：" + data.data.exeUser;
                                    $("#exeTime").get(0).textContent = "时间：" + data.data.exeTime;
                                }
                            }
                        });
                        //刷新父窗体
                        refrenshParent();
                    }
                }
            };
            $.connection.hub.start().done(function () {
            });
        });
        setExecuteSta(@ViewBag.ExecuteState);
        form.on('submit(testdll)', function (data) {
            var flag = Verification($("input[name='Url']").val());
            if (flag) {
                setBtnState($("#TestBtn"), "测试中", true);
                $.formSubmit({
                    url: "/TestCenterSystem/Manage/TestDllEvent?primaryKey=" + primaryKey,
                    data: { "startTime": data.field.test_startTime, "endTime": data.field.test_endTime, "patientId": data.field.PatientId, "url": data.field.Url, "timeInterval": data.field.time_interval },//
                    close: false,
                    async: true,
                    cache: true,
                    success: function (data) {
                        setBtnState($("#TestBtn"), "测试", false);
                        initData(data.data);
                        if ((data.state === 1)) {
                            $("#realUrl")[0].value = $("#Url")[0].value;
                        }
                    }
                });
            }
        });
        form.on('submit(execute)', function (data) {
            var flag = Verification($("input[name='realUrl']").val());
            var clientKey = $.cookie("sdataitem_client_key");
            if (flag && ($("#Execute").get(0).value === "执行" || $("#Execute").get(0).value === "已执行")) {
                setBtnState($("#Execute"), "取消", false);
                $.formSubmit({
                    url: "/TestCenterSystem/Manage/ExecuteDllEvent?primaryKey=" + primaryKey,
                    data: { "startTime": data.field.exe_startTime, "endTime": data.field.exe_endTime, "patientId": data.field.exe_PatientId, "url": data.field.realUrl, "clientKey": clientKey },//
                    close: false,
                    async: true,
                    success: function (data) {
                        if ((data.state === 1)) {
                        } else {
                            setBtnState($("#Execute"), "执行", false);
                        }
                    }
                });
            } else if ($("#Execute").get(0).value === "取消") {
                setBtnState($("#Execute"), "取消中", true);
                $.formSubmit({
                    url: "/TestCenterSystem/Manage/CancelExeDll?clientKey=" + clientKey,
                    close: false,
                    async: true,
                    success: function () {
                    }
                });
            }
        });
        form.on('submit(OK)', function (data) {
            var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
            parent.layer.close(index); //关闭窗口
        });
        var start = {
            elem: '#test_start_time',
            type: 'date',
            min: '1700-01-01',
            max: '2333-09-20',
            show: true,
            closeStop: '#test_start_time'
        };

        var end = {
            elem: '#test_end_time',
            type: 'date',
            min: '1700-01-01',
            max: '2333-09-20',
            show: true,
            closeStop: '#test_end_time'
        };

        lay('#test_start_time').on('click', function (e) {
            if ($('#test_end_time').val() != null && $('#test_end_time').val() != undefined && $('#test_end_time').val() != '') {
                start.max = $('#test_end_time').val();
            } else {
                start.max = "2333-09-20";
            }
            laydate.render(start);
        });
        lay('#test_end_time').on('click', function (e) {
            if ($('#test_start_time').val() != null && $('#test_start_time').val() != undefined && $('#test_start_time').val() != '') {
                end.min = $('#test_start_time').val();
            } else {
                end.min = "1700-01-01";
            }
            laydate.render(end);
        });
        var executeStart = {
            elem: '#exe_start_time',
            type: 'date',
            min: '1700-01-01',
            max: '2333-09-20',
            show: true,
            closeStop: '#exe_start_time'
        };
        var executeEnd = {
            elem: '#exe_end_time',
            type: 'date',
            min: '1700-01-01',
            max: '2333-09-20',
            show: true,
            closeStop: '#exe_end_time'
        };
        lay('#exe_start_time').on('click', function (e) {
            if ($('#exe_end_time').val() != null && $('#exe_end_time').val() != undefined && $('#exe_end_time').val() != '') {
                executeStart.max = $('#exe_end_time').val();
            } else {
                executeStart.max = "2333-09-20";
            }
            laydate.render(executeStart);
        });
        lay('#exe_end_time').on('click', function (e) {
            if ($('#exe_start_time').val() != null && $('#exe_start_time').val() != undefined && $('#exe_start_time').val() != '') {
                executeEnd.min = $('#exe_start_time').val();
            } else {
                executeEnd.min = "1700-01-01";
            }
            laydate.render(executeEnd);
        });
    });
    function initData(result) {
        table.render({
            id: 'testResult',
            elem: '#gridList1',
            data: result,
            page: true,
            even: true,
            limits: [5, 10, 15, 20, 25, 30],
            limit: 5,
            cols: [[
                { field: 'PATIENT_NO', title: 'PATIENTNO', width: 230, sort: true, align: 'center' },
                { field: 'IN_DEPT_NAME', title: '科室名称', width: 230, sort: true, align: 'center' },
                { field: 'DOCTOR_NAME', title: '医生名称', width: 230, sort: true, align: 'center' },
                { field: 'ACTUAL_VALUE', title: '数据项结果值', width: 230, align: 'center' }
            ]],
            done: function (res, curr, count) {
                currentPage = curr;
            }
        });
    }
    //function look(result) {
    //    $("#selectValue")[0].value = result.SD_ITEM_VALUE;
    //    $.layerOpen({
    //        id: "value",
    //        title: result.SD_CPAT_NO + "—数据项的结果值",
    //        width: "680px",
    //        height: "490px",
    //        content: "/TestCenterSystem/CustomItem/LookResult",
    //        btn: null
    //    });
    //}
    function btn_export() {
        $.formSubmit({
            url: "/TestCenterSystem/Manage/ExportData?primaryKey=" + primaryKey,
            close: false,
            showMsg: false,
            success: function (data) {
                if (data.data == null) {
                    if (data.overflow !== "")
                        $.layerMsg(data.overflow, 2);
                    else
                        $.layerMsg("数据项未执行或已清空，无法导出！", 2);
                }
                else if (data.data.length == 0)
                    $.layerMsg("未找到结果数据，无法导出！", 2);
                else
                    //$.JsonToCSV(data,"数据项_" + data.data[0].SITEM_NAME + "_执行结果表.csv");
                    $.JSONToExcelConvertor(data.data, "数据项_" + data.data[0].SITEM_NAME + "_执行结果表", data.title);
            }
        });
    }
    //function btn_lock() {
    //    setBtnState($("#LockData"), "锁定中", true);
    //    $.formSubmit({
    //        url: "/TestCenterSystem/CustomItem/LockData?primaryKey=" + primaryKey,
    //        close: false,
    //        async: true,
    //        timeout: 60000, //超时时间：60秒
    //        success: function (data) {
    //            if (data.state == 1) {
    //                setExecuteSta(4);
    //                //刷新父窗体
    //                refrenshParent();
    //            } else {
    //                setBtnState($("#LockData"), "锁定", false);
    //            }
    //        }
    //    });
    //}
    function btn_clear() {
        setBtnState($("#ClearData"), "清库中", true);
        $.formSubmit({
            url: "/TestCenterSystem/Manage/ClearData?primaryKey=" + primaryKey,
            close: false,
            async: true,
            timeout: 60000, //超时时间：60秒
            success: function (data) {
                if (data.state == 1) {
                    setExecuteSta(3);
                    $("#exeUser").get(0).textContent = "最后执行/清库者：" + data.data.exeUser;
                    $("#exeTime").get(0).textContent = "时间：" + data.data.exeTime;
                    //刷新父窗体
                    refrenshParent();
                }
                setBtnState($("#ClearData"), "清库", false);
            }
        });
    }
</script>
<script>
    function setBtnState(btn, strValue, isExe) {
        btn.get(0).value = strValue;
        if (isExe) {
            btn.get(0).className = "layui-btn layui-btn-disabled layui-btn-small";
            btn.attr("disabled", true);
        } else {
            btn.get(0).className = "layui-btn layui-btn-normal layui-btn-small";
            btn.removeAttr("disabled");
        }
    }
    //设置状态
    function setExecuteSta(exeSta) {
        if (exeSta == 2) {
            setBtnState($("#Execute"), "已执行", false);
        } else if (exeSta == 3) {
            setBtnState($("#Execute"), "执行", false);
            //setBtnState($("#LockData"), "锁定", false);
        } else if (exeSta == 4) {
            setBtnState($("#Execute"), "已执行", false);
            //setBtnState($("#LockData"), "已锁定", true);
        }
    }
    //根据指定url刷新页面
    function refrenshParent() {
        for (var i = 0; i < parent.length; i++) {
            if (parent[i].document.URL.indexOf("/TestCenterSystem/SDataItem/Index") > 0) {
                parent[i].refreshGrid();//initGrid('SITEM_ID', 'desc');
                break;
            }
        }
    }
    //网址验证
    function Verification(data) {
        if (data) {
            var str = data;
            var expression = "((http|ftp|https)://)(([a-zA-Z0-9\._-]+\.[a-zA-Z]{2,6})|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,4})*(/[a-zA-Z0-9\&%_\./-~-]*)?";
            var objExp = new RegExp(expression);
            if (objExp.test(str) != true) {
                $.layerMsg("网址格式不正确！请重新输入", "error");
                return false;
            } else {
                return true;
            }
        }
    }
</script>
